.App {
  font-family: 'Roboto', sans-serif;
  color: rgb(112, 112, 112);
}

.main-Link {
  font-size: small;
  font-weight: bold;
}
.md-title {
  max-width: 60px;
  border-radius: 50%;
}

.infoTitile {
  color: black;
  font-family: 'Anton', sans-serif;
  font-size: 55px;
}

.fullwidth{
  width: 100%;
  background-color: #F5A200;
}

.social{
  width: 25px;
  height: 25px;
  margin-right: 20px;
}

.highContainer {
  min-height: calc(100vh - 90px);
  align-items: center;
}

.dinamicTitle {
  display: block;
}

.dinamicTitle::before {
  content: '';
  animation: animate infinite 5s;
}

@keyframes animate {
  0% {
    content: 'Professional';
    color: blue;
  }
  20% {
    content: 'Readable';
    color: blueviolet;
  }
  40% {
    content: 'Modern';
    color: red;
  }
  60% {
    content: 'Pretty';
    color: orange;
  }
  80% {
    content: 'Reusable';
    color: green;
  }
  100% {
    content: 'Professional';
    color: blue;
  }
}

.main-Link{
color: #F5A200;
}


.centeredInfo {

}

a:hover {
  text-decoration: none;
}


@media only screen and (max-width: 992px) {
  .infoSVG {
    display: none;
  }
}