.App {
  font-family: 'Roboto', sans-serif;
  color: rgb(112, 112, 112);
}

.btn{
  font-family: 'Anton', sans-serif;
}

.main-Link {
  font-size: 12px;
  letter-spacing: 3px;
  font-family: 'Anton', sans-serif;
}
.md-title {
  max-width: 60px;
  border-radius: 50%;
}

.content-cont{
  background-color: white;
  padding: 15px;
  font-size: 14px;
}

.content-cont2{
  opacity: .9;
  background-color: white;
}

.badges{
padding: 15px;
}

.badge{
  margin-right: 5px;
  }

.text-title-cont{
  position: absolute;
  padding: 15px;
  font-family: 'Anton', sans-serif;
}

.cardContainer{
  background-color: white;
  margin-bottom: 40px;
padding-left: 0;
padding-right: 0;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.16), 0 4px 20px 0 rgba(0, 0, 0, 0.12);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 900;
}

.socialLinks{
  padding-bottom: 40px;
}

.btn-warning{
  margin-bottom: 20px;
}

.mrg-top{
 padding-top: 30px;
 margin-bottom: 90px;
}

.inframe{
  margin-bottom: 30px;
  margin-left: auto;
}

.infoTitile {
  color: black;
  font-family: 'Anton', sans-serif;
  font-size: 55px;
}

.infoTitile2{
  color: black;
  font-family: 'Anton', sans-serif;
  font-size: 45px;
}

.infoTitile3{
  color: black;
  font-family: 'Anton', sans-serif;
  font-size: 30px;
  margin-left: auto;
}

.infoTitile4{
  color: black;
  font-family: 'Anton', sans-serif;
  font-size: 30px;
}

.fullwidth{
  width: 100%;
  background-color: #F5A200;
  padding-top: 90px;
  padding-bottom: 50px;
}

.social{
  width: 25px;
  height: 25px;
  margin-right: 20px;
}

.highContainer {
  min-height: 100vh;
}

.confirmMail{
color: black;
font-family: 'Anton', sans-serif;
}

.confirmMailWrong{
  color: red;
  font-family: 'Anton', sans-serif;
}

.smallCont{
  max-width: 800px;
  min-height: 600px;
}

.mailsent{
  height: 400px;
}

.errorCode{
position: absolute;
right: 20px;
top: 20px;
font-size: 10px;
color: red;
}

.errorCode2{
  position: absolute;
right: 20px;
bottom: 20px;
font-size: 10px;
color: red;
}

.error{
  border-width: 2px;
  border-color: red;
}

.highContainer2 {
  min-height: 100vh;
  align-items: center;
  padding-top: 100px;
}

.inputContent{
  margin: 10px;
}

.highContainer3 {
  min-height: 100vh;
  align-items: center;
}

.dinamicTitle {
  display: block;
}

.dinamicTitle::before {
  content: '';
  animation: animate infinite 5s;
}

@keyframes animate {
  0% {
    content: 'Professional';
    color: blue;
  }
  20% {
    content: 'Readable';
    color: blueviolet;
  }
  40% {
    content: 'Modern';
    color: red;
  }
  60% {
    content: 'Pretty';
    color: orange;
  }
  80% {
    content: 'Reusable';
    color: green;
  }
  100% {
    content: 'Professional';
    color: blue;
  }
}

.main-Link{
color: #F5A200;
}


.centeredInfo {

}

a:hover {
  text-decoration: none;
}


@media only screen and (max-width: 992px) {
  .infoSVG {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .infoTitile3{
    margin-left: 0px;
  }
  .inframe{
    margin-left: 0px;
  }
}